/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
	color: #acacac;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 0px solid #BFBFBF;
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi a.current, .wp-pagenavi a.extend {
	border-color: #000;
	color: #acacac;
}

.wp-pagenavi a.current {
	font-weight: bold;
	text-decoration: none;
}

.wp-pagenavi a.extend {
	text-decoration: none;
}
